
			<div class="container magazine top-no-header">

				<div class="row">

					<!-- center column -->
					<div class="col-md-9">

						<!-- 
							carousel 
							900px images required!
						-->
						<div class="owl-carousel controlls-over" data-plugin-options='{"autoPlay":9000, "stopOnHover":true, "items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'>
							<div>
								<div class="owl-caption text-left">
									<h2><a href="magazine-single.html">Local business is booming</a></h2>
									<p class="hidden-xs"><!-- hide on mobile -->
										Business is on the rise in Mabank
										<a class="block" href="magazine-single.html">read more...</a>
									</p>
								</div>
								<img alt="" class="img-responsive" src="assets/demo/magazine/1.jpg" />
							</div>
							<div>
								<div class="owl-caption text-left">
									<h2><a href="magazine-single.html">Something Happpened Over Here</a></h2>
									<p class="hidden-xs"><!-- hide on mobile -->
										Check it out
										<a class="block" href="magazine-single.html">read more...</a>
									</p>
								</div>
								<img alt="" class="img-responsive" src="assets/demo/magazine/2.jpg" />
							</div>
							<div>
								<div class="owl-caption text-left">
									<h2><a href="magazine-single.html">Farmers Market now open</a></h2>
									<p><p class="hidden-xs"><!-- hide on mobile -->
										Get fresh produce and organic food items.
										<a class="block" href="magazine-single.html">read more...</a>
									</p>
								</div>
								<img alt="" class="img-responsive" src="assets/demo/magazine/3.jpg" />
							</div>
						</div>
						<!-- /carousel -->


						<!-- BREAKING NEWS -->
						<div class="label label-primary breaknews-ticker">
							<strong>BREAKING NEWS:</strong> 

							<div class="owl-carousel controlls-over nomargin" data-plugin-options='{"autoPlay":4000, "stopOnHover":true, "items": 1, "singleItem": true, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
								<div>
									<a href="magazine-single.html">Road closures in Gun Barrel City</a>
								</div>
								<div>
									<a href="magazine-single.html">Students to speak at school board meeting</a>
								</div>
								<div>
									<a href="magazine-single.html">This could say anything</a>
								</div>
							</div>
							
						</div><br />
						<!-- /BREAKING NEWS -->


						<!-- TWO COLUMNS -->
						<div class="row">

							<!-- first column -->
							<div class="col-md-8">

								<h3 class="page-header">
									<a href="magazine-category.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a>
									<strong class="styleColor">Recent</strong> News
								</h3>

								<!-- article summary -->
								<div class="row">
									<div class="col-md-4 text-center">
										<!-- carousel -->
										<div class="owl-carousel controlls-over nomargin" data-plugin-options='{"items": 1, "singleItem": true, "navigation": false, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'>
											<div>
												<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_1.jpg" />
											</div>
											<div>
												<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_2.jpg" />
											</div>
											<div>
												<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_3.jpg" />
											</div>
										</div>
										<!-- /carousel -->
										<!-- star rated -->
										<ul class="star-rated styleSecondColor">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-o"></i></li>
											<li><i class="fa fa-star-o"></i></li>
										</ul>
										<!-- /star rated -->
									</div>
									<div class="col-md-8">
										<h4><a class="styleColor" href="magazine-single.html">Politicians on the stump</a></h4>
										<p>
											Politicians gather to rally support. We have the interviews. 
											<small class="block styleSecondColor">29 June 2014, 9:55</small>
										</p>
									</div>
								</div>
								<!-- /article summary -->


								<hr class="half-margins" /><!-- separator -->


								<!-- article summary -->
								<div class="row">
									<div class="col-md-4 text-center">
										<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_6.jpg" />
										<ul class="star-rated styleSecondColor">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-o"></i></li>
											<li><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<div class="col-md-8">
										<h4><a class="styleColor" href="magazine-single.html">New shop opens in Downtown Athens</a></h4>
										<p>
											A new shop selling widgets has opened in downtown Athens. They sell all sorts of widgets.
											<small class="block styleSecondColor">29 June 2014, 9:55</small>
										</p>
									</div>
								</div>
								<!-- /article summary -->


								<hr class="half-margins" /><!-- separator -->


								<!-- article summary -->
								<div class="row">
									<div class="col-md-4 text-center">
										<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_7.jpg" />
										<ul class="star-rated styleSecondColor">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-o"></i></li>
											<li><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<div class="col-md-8">
										<h4><a class="styleColor" href="magazine-single.html">Shoot a video with us</a></h4>
										<p>
											We can help your business gain exposure by shooting a video.
											<small class="block styleSecondColor">29 June 2014, 9:55</small>
										</p>
									</div>
								</div>
								<!-- /article summary -->

							</div>

							<!-- second column -->
							<div class="col-md-4">

								<h3 class="page-header">
									<a href="magazine-category.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
									This <strong class="styleColor">Week</strong>  
								</h3>

								<h4><a class="styleColor" href="magazine-single.html">Chinese New Year by the numbers</a></h4>
								<p>
									Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
									<small class="block styleSecondColor">29 June 2014, 9:55</small>
								</p>

								<hr class="half-margins" /><!-- separator -->

								<h4><a class="styleColor" href="magazine-single.html">Chinese New Year by the numbers</a></h4>
								<p>
									Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
									<small class="block styleSecondColor">29 June 2014, 9:55</small>
								</p>

								<hr class="half-margins" /><!-- separator -->

								<h4><a class="styleColor" href="magazine-single.html">Chinese New Year by the numbers</a></h4>
								<p>
									Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
									<small class="block styleSecondColor">29 June 2014, 9:55</small>
								</p>
							</div>

						</div>
						<!-- /TWO COLUMNS -->


						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>



						<h3 class="page-header">
							<a href="magazine-category.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
							The <strong class="styleColor">Future</strong> 
						</h3>

						<!-- THREE COLUMNS -->
						<div class="row">

							<div class="col-md-4">

								<!-- article item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="magazine-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>READ</strong> ARTICLE
											</span>
										</a>
										<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_1.jpg" width="263" height="147" />
									</figure>
									<div class="item-box-desc">
										<h4>Chinese New Year by the numbers</h4>
										<small>29 June 2014, 9:55</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /article item -->

							</div>


							<div class="col-md-4">

								<!-- article item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="magazine-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>READ</strong> ARTICLE
											</span>
										</a>
										<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_2.jpg" width="263" height="147" />
									</figure>
									<div class="item-box-desc">
										<h4>Chinese New Year by the numbers</h4>
										<small>29 June 2014, 9:55</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /article item -->

							</div>

							<div class="col-md-4">

								<!-- article item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="magazine-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>READ</strong> ARTICLE
											</span>
										</a>
										<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_3.jpg" width="263" height="147" />
									</figure>
									<div class="item-box-desc">
										<h4>Chinese New Year by the numbers</h4>
										<small>29 June 2014, 9:55</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /article item -->

							</div>

							<!-- /article item -->
						</div>
						<!-- /THREE COLUMNS -->


					</div>
					<!-- /center column -->

					<!-- right column -->
					<div class="col-md-3">

						<!-- HOT -->
						<h3 class="page-header nomargin-top">
							Today's <strong class="styleColor">Hot</strong>
						</h3>

						<!-- No #1 Hot -->
						<div class="item-box nomargin-top">
							<figure>
								<a class="item-hover" href="magazine-single.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>READ</strong> ARTICLE
									</span>
								</a>
								<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_4.jpg" />
							</figure>
							<div class="item-box-desc">
								<small>29 June 2014, 08:33</small>
								<h4 class="wrap"><a class="styleColor" href="#">EMS Arrive at AMS</a></h4>
							</div>
						</div>
						<!-- /No #1 Hot -->

						<!-- video -->
						<iframe width="560" height="315" src="//www.youtube.com/embed/yBF1_Omu0OQ" frameborder="0" allowfullscreen></iframe>
						
						<h5 class="font300 padding10">
							<i class="fa fa-comments styleSecondColor"></i> <a href="#">Comment this video</a> 
							<small class="pull-right">(0 comments)</small>
						</h5>
						<!-- /video -->

						<!-- small articles -->
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_3.jpg" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Horses hypnotized by the sea</h6>
								</a>							
							</div>
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="assets/demo/magazine/article/thumb_4.jpg" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Sochi protesters fight to be heard</h6>
								</a>							
							</div>
						</div>
						<!-- /small articles -->


						<!-- LATEST -->
						<h3 class="page-header">
							<strong class="styleColor">Read</strong> this, <strong class="styleColor">watch</strong> that
						</h3>

						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<i class="fa fa-heart-o"></i>
											Most Viewed
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="panel-body">
										<ul class="list-icon angle-right">
											<li><a href="#">Politicians on the stump</a></li>
											<li><a href="#">New shop opens in Downtown Athens</a></li>
											<li><a href="#">Shoot a video with us</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<i class="fa fa-star"></i>
											Most Rated
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="panel-body">
										<ul class="list-icon angle-right">
											<li><a href="#">Politicians on the stump</a></li>
											<li><a href="#">New shop opens in Downtown Athens</a></li>
											<li><a href="#">Shoot a video with us</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<i class="fa fa-comment"></i>
											Most Commented
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="accordion-body collapse">
									<div class="panel-body">
										<ul class="list-icon angle-right">
											<li><a href="#">Politicians on the stump</a></li>
											<li><a href="#">New shop opens in Downtown Athens</a></li>
											<li><a href="#">Shoot a video with us</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!-- TWEETS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							Latest <strong class="styleColor">Tweets</strong> 
						</h3>

						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>

						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							<strong class="styleColor">Follow</strong> Us
						</h3>

						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>

					</div>
					<!-- /right column -->

				</div><!-- /.row -->

				<!-- CALLOUT -->
				<div class="row bs-callout nomargin-bottom">
					<div class="col-md-8 text-center">
						<h3 class="padding20">Subscribe <strong>now</strong> and get the most <strong>important</strong> news.</h3>
					</div>
					<div class="col-md-4">

						<p class="nomargin">Type your best E-mail Address</p>

						<form method="get" action="#" class="input-group">
							<input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
							<span class="input-group-btn">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</span>
						</form>

					</div>
				</div>
				<!-- /CALLOUT -->

			</div><!-- /.container -->