<div class="contents">
  <div class="custom-container">
    <!-- Bread Crumb Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                       <%= render_breadcrumbs :tag => :li, :separator => "" %>
                    </ol>
                </div>
                <!-- Bread Crumb End -->
                <!-- Content Column Start -->
    <div class="row">
      <% @galleries.each do |gal| %>
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <figure class="gallery">
            <% unless gal.photos.size == 0 %>
            <%= link_to gallery_url(gal) do %>
                <%= image_tag gal.photos.first.file.url(:medium), :class=> "img-responsive hovereffect" %>
                
            <% end %>
            <figcaption class="backcolor">
                <h4><a href="#"><%= gal.name %></a></h4>
            </figcaption>
        </figure>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>
</div>