<div class="contents">
  <div class="custom-container">
    <!-- Bread Crumb Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                       <%= render_breadcrumbs :tag => :li, :separator => "" %>
                    </ol>
                </div>
                <!-- Bread Crumb End -->
                <!-- Content Column Start -->
    <div class="row">
      <% @galleries.each do |gallery| %>
      <div class="col-xs-3">
        <div class="thumb-contents thumbnail">
            <%= link_to gallery_url(gallery) do %>
            <%= image_tag gallery.photos.first.file.url(:medium), :class=> "img-responsive hovereffect" %>
            <% end %>
            <div class="btn-toolbar">
              <div class="btn-group">
            
              </div>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>